@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --bg-dark: #00000066;
  --bg-light: #f7f7f7;
  --bg-dark-blue: hsl(232, 50%, 30%);

  --text-white: #fff;
  --text-black: #000000cc;
  --text-light: #ffffffcc;
  --text-blue: #1a3e6f;
  --text-mute: #383838;

  --color-primary: #2275d3;
  --color-primary-bg : #4e68cd;
  --color-accent: #f8d22d;

  --text-base: 16px;
  --text-sm: 13.5px;
  --text-md: 18px;
  --text-lg: 22.5px;
  --text-xl: 31.5px;
  --text-xl-2: 36px;
  --text-xl-3: 52px;

  --font-sans: 'Figtree', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  --font-serif: 'Times New Roman', Times, serif;
  --font-cursive: "Italianno", cursive;
  --font-base: 400;
  --font-md: 500;
  --font-bold: 700;

  --break-sm: 480px;
  --break-xl: 1024px;
  --break-md: 768;
  --gradient: linear-gradient(180deg,
      var(--bg-light) 0%,
      var(--color-primary) 50%,
      color-mix(in srgb, var(--bg-dark-blue) 70%, white) 75%);
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-light);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

li {
  list-style-type: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
}

/* to Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}


nav {
  width: 100%;
  padding: 1rem 3rem;
  position: sticky;
  top:0;
  bottom: 2rem;
  z-index: 10;
  background-color: var(--bg-light);
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: fit-content;
  font-family: var(--font-cursive);
  font-size: var(--text-xl-3);
  font-weight: 600;
  background: var(--gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.right-nav-group {
  display: flex;
  align-items: center;
  font-family: var(--font-sans);
  font-size: calc(var(--text-base) * 1.2);
  font-weight: var(--font-bold);
  color: var(--text-black);
  gap: 0 2rem;
}

.cta {
  background:  var(--color-primary-bg);
  color: var(--text-light);
  padding: 1.2rem 1rem;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
}

.menu-icon {
  svg {
    cursor: pointer;

    width: 3rem;
    stroke-width: 1rem;
    fill: black;
  }
}


.lake-bg {
  background-image: url("./images/lake.webp");
  background-position: center 60%;
  background-size: 100%;
  width: 100%;
  position: relative;
  height: 250px;

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, transparent 60%, white);
  }
}

.heading-1 {
  font-family: var(--font-sans);
  text-align: center;

  h1 {
    font-size: var(--text-xl-3);
    color: var(--bg-dark-blue);
    line-height: 1.8;
  }

  p {
    font-size: var(--text-md);
    color: var(--text-mute);
    padding-inline: 10rem;
    line-height: 1.8;
    font-weight: 400;
  }

  .main-cta {
    font-size: calc(var(--text-base) * 1.2);
    font-weight: var(--font-bold);
    color: var(--text-light);
    padding: 1.2rem 4rem;
    margin: 1rem 0;
  }
}

.heading-2{
  margin: 10rem 0;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
  text-align: center;
  justify-content: center;
  h1{
    font-size: var(--text-xl-2);
    color: var(--bg-dark-blue);
    padding: 1rem 0;
  }
  .cards-container{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0 1rem;
    justify-content: space-between;
  }
  .card:hover{
    h3 , a{
      color: var(--color-primary);
    }
  }
  &>*{
    max-width: 100%;
    img{
      width: 3rem;
      height: auto;
      padding: 2rem 0;

    }
    h3{
      color: color-mix(in srgb, var(--text-mute) 75%,  black);
      font-size: var(--text-xl);
      line-height: 1.5;
      font-weight: var(--font-md);
      padding: 1rem 0;
    }
    p , a{
      color: var(--text-mute);
      font-size: var(--text-md);
      line-height: 1.7;
    }
    a{
      text-decoration: underline;
    }

    
  }
}
.collage{
  margin: 6rem 0;
  position: relative;
  .collage-img{
    width: 100%;
    background:no-repeat url("./images/collage.webp");
    background-size: 145%;
    background-position: 50%;
    height: 500px;
  }
  .mask{
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,  white , transparent 20% , transparent 75% , white 100%  );
  }
}

.testimonials{
  font-family: var(--font-sans);
  h1{
    color: var(--bg-dark-blue);
    font-size: var(--text-xl);
    text-align: center;
    padding: 4rem 0;
  }
  .testimonial-cards{
    list-style: none;
    margin: 0px;
    padding: 0 0 0 8rem;
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 0 3rem;
  }
  article{
    width: 500px;
    min-height: 450px;
    padding:2rem 3rem ;
    background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%);
    border-radius: 20px;
    color: var(--text-light);
    padding: 40px 32px;
    text-align: left;
    svg{
      margin: 0.5rem 0 ;
    }
    p{
      padding: 0.5rem 0;
      font-size: var(--text-lg);
      line-height: 1.5;
      font-weight: var(--font-md);
    }
    blockquote p:last-child{
      opacity: 0.8;
      font-size: var(--text-md);
    }
  }
  .controls{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    padding-right: 11rem;
    gap: 0 1rem;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--text-mute);
      width: 2rem;
      height:2rem;
      border-radius: 1000px;

    }
    .left{
      opacity: 0.4;
    }
    .right{
      transform:rotate(180deg);
      opacity: 0.7;

    }
  }
  .controls svg{
    fill: var(--bg-light);
    width: 1.3em;
  }
}
.offer{
  margin: 6em 0;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    color: var(--bg-dark-blue);
    font-size: var(--text-xl-2);
    font-weight: var(--font-bold);
    text-align: center;
    line-height: 1.8;
  }
  .plan{
    margin: 2rem 0;
    border: 2px solid var(--bg-dark-blue);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    width: 40%;
    position: relative;
    align-items: center;
    
  }
  .period{
    gap: 0.5rem ;
display: flex;
flex-direction: column;
    opacity: 0.8;
    font-weight: var(--font-bold);
  }
  .per-year , .per-month{
    font-weight: var(--font-bold);
    font-size: var(--text-sm);
    color: var(--text-mute);

  }
  .per-month{
    display: flex;
    font-size: var(--text-md);
    justify-content: center;
    align-items: center;
    
  }
  .trial{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem ;
    color: var(--bg-light);
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
    background:linear-gradient(135deg, rgb(83, 64, 203) 0%, rgb(137, 70, 163) 100%);
    border-radius: 10px;
    position: absolute;
    top: -1rem;
    right: 1rem;
  }
}